extends base

block content
    form(method="POST")
        // action="/videos/otherlink" 가능
        input(name="title", placeholder="Title", required, type="text")
        input(type="submit", value="Upload Video")