extends base

block content
    div 
        p=video.description
        small=video.createdAt
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/delete`) Delete Video &rarr;
    //- rarr 오른쪽 화살표 larr 왼쪽 화살표
    //- /edit은 내가 어디 있든 root에서 바로 /edit을 감. absolute url
    //- edit은 현재 내 경로에서 /edit을 붙여서 이동함. relative url